<md-toolbar md-scroll-shrink>
	<div class="md-toolbar-tools">
		<h1>Signup Form</h1>
	</div>
</md-toolbar>

<md-content>
	<div layout="column" layout-align="center center" layout-padding>
		<form name="userForm" novalidate>
			<div layout="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Full Name</label>
					<input type=text name=fullname ng-model="user.fullname" required>
					<div ng-messages="userForm.fullname.$error">
						<div ng-message="required">This is required!</div>
					</div>
				</md-input-container>
			</div>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Email</label>
				<input type=email name="email" ng-model="user.email" required>
				<div ng-messages="userForm.email.$error">
					<div ng-message="required">This is required!</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Choose a Password</label>
				<input type=password name="password" ng-model="user.password" required>
				<div ng-messages="userForm.password.$error">
					<div ng-message="required">This is required!</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Re-enter password</label>
				<input type=password name="repeat_password" ng-model="user.repeatPassword" pw-check="{{user.password}}" required>

				<div ng-messages="userForm.repeat_password.$error">
					<!--					<div ng-message="required">This is required!</div>-->
					<div ng-message="required">The passwords must match!</div>
				</div>
			</md-input-container>
		</form>

		<md-button class="md-raised md-primary md-button" ng-disabled="userForm.$error.$invalid" ng-click="submitSignupForm()">
			<label ng-hide="loading">Create Account</label>
			<div layout="row" layout-align="space-around" ng-show="loading">
				<md-progress-circular md-mode="indeterminate" class="md-hue-3" md-diameter="30em"></md-progress-circular>
				<label>&nbsp;</label>
				<label>Creating account...</label>
			</div>
		</md-button>
	</div>
</md-content>